body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

header {
background-color: yellow;
max-height: 500px;
margin-top: -21px;
text-align: center;
padding: 60px;
font-size: 30px;
}

nav {
  background-color: #EDEF6A ;
  display: flex;
  flex-direction: row;
  text-align: center;
}

nav h2 {
  margin-left: 250px;


}

form{
  text-align: center;
  border: 2px solid gray;
  margin:10px;
  padding:20px;
  background:#6100FB;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

}



input {
max-width: 200px;
 
}

.notas{
  display:flex;
  flex-direction:row;
flex-wrap:wrap;
align-items:center;
}



.notas {
  border: 1px solid black;
  margin: 5px;
  padding:20px;
  font-family: serif;
}
.nota p {
  font-family:serif;
}


@media screen and (max-width:765px) {
  nav {
    display:flex;
    flex-direction:column;
    text-align: center;
  }

textarea {
max-width:400px
}

nav h2 {
margin: 0px;
}



}

@media screen and (max-width:430px) {
textarea{
  max-width:300px;
}


}


@media screen and (max-width:330px) {
textarea{
  max-width:200px;
}
  }
